<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_10.mapper.tasks.ModelTaskMapper">
    <select id="getAllModelTasks" resultType="com.cqupt.software_10.entity.tasks.ModelTask">
        select *  from tasks
    </select>
    <delete id="deleteModelById">
        delete from tasks where id=${id}
    </delete>
     <update id="updateModelTask">
        update tasks
        SET task_name = #{modelTask.taskName},
            disease_name = #{modelTask.diseaseName},
            table_name = #{modelTask.tableName},
            model_name = #{modelTask.modelName},
            remarks = #{modelTask.remarks}
        WHERE id = ${modelTask.id}
    </update>

</mapper>
