<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_10.mapper.user.UserMapper">

    <resultMap id="BaseResultMap" type="com.cqupt.software_10.entity.user.User">

            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,username,
        password,role,create_time,
        update_time
    </sql>

    <select id="queryByUername" resultType="com.cqupt.software_10.entity.user.User">
        SELECT * FROM software10.software10user WHERE username = #{username};
    </select>

    <insert id="saveUser" parameterType="com.cqupt.software_10.entity.user.User">
        INSERT INTO software10.software10user  ("uid","username", "password", "create_time",  "role", "user_status", "answer_1" , "answer_2", "answer_3" , "upload_size" )
        VALUES  ('${user.uid}','${user.username}', '${user.password}',
                 '${user.createTime}','${user.role}','${user.userStatus}','${user.answer1}','${user.answer2}','${user.answer3}','${user.uploadSize}')
    </insert>
    <insert id="insertUser" >
        INSERT INTO software10.software10user ( username, password, create_time, update_time, role,  user_status)
        VALUES ( #{username}, #{password}, #{createTime}, #{updateTime}, #{role}, #{userStatus});

    </insert>
    <update id="updateStatusById">

        update  software10.software10user set user_status = ${status}   , role = ${role}   , upload_size = ${uploadSize} where uid = ${uid}


    </update>
    <update id="removeUserById">

        DELETE FROM software10.software10user WHERE uid= ${uid}
    </update>
    <update id="updatePwd">
        update  software10.software10user set password = '${password}'  where username = '${username}'
    </update>

    <select id="countUsers" resultType="int">
        SELECT COUNT(*) FROM software10.software10user
    </select>
    <select id="getUerByUserName" resultType="com.cqupt.software_10.entity.user.User">
        select * from software10.software10user where "username" = '${userName}'
    </select>
    <select id="getUserById" resultType="com.cqupt.software_10.entity.user.User">
        select * from software10.software10user where "uid"='${id}';
    </select>
    <select id="getAllUserInfo" resultType="com.cqupt.software_10.entity.user.User">
        SELECT uid , username,  role, create_time, update_time, user_status
        FROM software10.software10user;
    </select>
    <select id="selectUserPage" resultType="com.cqupt.software_10.entity.user.User">
        SELECT * FROM software10.software10user LIMIT #{pageSize} OFFSET #{offset}
    </select>

<!--     下面方法是管理员端-数据管理新增-->
    <update id="addTableSize">
        update software10.software10user  set upload_size = upload_size + ${tableSize} where uid = #{uid}
    </update>

    <update id="minusTableSize">
        update software10.software10user  set upload_size = upload_size - ${tableSize} where uid = #{uid}
    </update>

    <!--  User selectByUid(String uid); -->
    <select id="selectByUid" resultType="com.cqupt.software_10.entity.user.User">
        select * from software10.software10user where uid = #{uid}
    </select>
</mapper>
