<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_10.dao.CategoryMapper">


    <update id="removeNode">
        update software10.category set is_delete=1 where id = CAST(#{id} AS VARCHAR);
    </update>

    <update id="removeTable">
        drop table "${label}";
    </update>

    <select id="getLabelByPid" resultType="java.lang.String">
        SELECT "label" FROM software10.category WHERE id = #{pid};
    </select>

    <select id="getSpDisease" resultType="com.cqupt.software_10.entity.CategoryEntity">
        SELECT * FROM software10.category WHERE is_common = 0 and is_leafs = 1;
    </select>


    <select id="getComDisease" resultType="com.cqupt.software_10.entity.CategoryEntity">
        SELECT * FROM software10.category WHERE is_common = 1 and is_leafs = 1;
    </select>

<!--    下面方法是管理员端-数据管理新增-->
    <select id="getLevel2Label" resultType="com.cqupt.software_10.entity.CategoryEntity">
-- 管理员端-数据管理修改
-- 在默认根节点parent_id=1下面的二级目录（即一级病种）下
        SELECT * FROM software10.category WHERE cat_level=2 and parent_id='1';
    </select>

    <select id="getLabelsByPid" resultType="com.cqupt.software_10.entity.CategoryEntity">
        SELECT * FROM software10.category WHERE parent_id = #{pid} and is_leafs=0;
    </select>

    <update id="updateTableNameByTableId">
        update software10.category set label=#{tableName}, status=#{tableStatus} where id = CAST(#{tableid} AS VARCHAR);;
    </update>


    <update id="changeStatusToShare">
        update software10.category set status=1 where id = #{id} ;
        update software10.table_describe set table_status=1 where table_id = #{id};
    </update>
    <update id="changeStatusToPrivate">
        update software10.category set status=0 where id = #{id};
        update software10.table_describe set table_status=0 where table_id = #{id};
    </update>
</mapper>