<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_10.mapper.TenDiabetesMapper">

    <resultMap id="BaseResultMap" type="com.cqupt.software_10.entity.TenDiabetes">
        <result property="name" column="name" jdbcType="INTEGER"/>
        <result property="mean" column="mean" jdbcType="VARCHAR"/>
        <result property="isMustTake" column="is_must_take" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>
        <result property="length" column="length" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="extra" column="extra" jdbcType="VARCHAR"/>
        <result property="complications" column="complications" jdbcType="VARCHAR"/>
        <result property="baseRiskFactor" column="base_riskfactor" jdbcType="VARCHAR"/>
        <result property="checkRiskFactor" column="check_riskfactor" jdbcType="VARCHAR"/>
        <result property="riskContent" column="risk_content" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getRiskFactorByTableName" resultType="java.lang.String">
        select mean from Diabetes_dic where risk_content between 1 and ${limitFactor} order by risk_content;
    </select>

    <select id="getComplicationsByTableName" resultType="java.lang.String">
        select mean from Diabetes_dic where complications between 1 and ${limitComplications} order by complications;
    </select>


    <select id="getBaseFactorByTableName" resultType="java.lang.String">
        select mean from Diabetes_dic where base_riskfactor between 1 and ${limitBaseFactor} order by base_riskfactor;
    </select>

    <select id="getCheckFactorByTableName" resultType="java.lang.String">
        select mean from Diabetes_dic where check_riskfactor between 1 and ${limitCheckFactor} order by check_riskfactor;
    </select>
</mapper>
