<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_10.mapper.TenKnowledgeFeatureExplainMapper">

    <select id="getAllKnowledgeFeatureExplain" resultType="com.cqupt.software_10.entity.TenKnowledgeFeatureExplain">
        select * from knowledge_features_explain;
    </select>

    <select id="getAllKnowledgeFeatureExplainByCn" resultType="java.lang.String">
        select en_col from knowledge_features_explain where cn_col = #{cnName};
    </select>
</mapper>
