<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_10.mapper.knowledge.FeaturesMapper">
    <select id="getKnowledgeDisease" resultType="java.lang.String">
        select distinct disease_name  from knowledge_features;
    </select>

    <select id="getKnowledgeFactorCN" resultType="java.lang.String">
        select distinct risk_factors_cn  from knowledge_features;
    </select>

    <select id="searchByDiseaseName" resultType="com.cqupt.software_10.entity.knowledge.Features">
        select *
        from knowledge_features
        where
            true
            <if test="diseaseName != null and diseaseName != ''" >
                and disease_name=#{diseaseName}
            </if>
            <if test="risks != null and risks != ''" >
                and risk_factors_cn=#{risks}
            </if>


    </select>

    <delete id="deleteKnowledgeById">
        delete from knowledge_features where id=${id}
    </delete>

    <update id="updateKnowledgeInfo">
        update knowledge_features
        SET 
            disease_name = #{knowledge.diseaseName},
            risk_factors_cn = #{knowledge.riskFactorsCn},
            is_exception = #{knowledge.isException},
            exception_low = #{knowledge.exceptionLow},
            exception_up = #{knowledge.exceptionUp},
            exception_explain = #{knowledge.exceptionExplain},
            resource = #{knowledge.resource},
            address = #{knowledge.address}
            
        WHERE id = ${knowledge.id}
    </update>

    <insert id="addKnowledgeInfo">
        insert into knowledge_features(disease_name, risk_factors_cn, is_exception,
                                       exception_low, exception_up, exception_explain,
                                       resource, address)
            value ( #{knowledge.diseaseName}, #{knowledge.riskFactorsCn}, #{knowledge.isException},
                    #{knowledge.exceptionLow}, #{knowledge.exceptionUp}, #{knowledge.exceptionExplain},
                    #{knowledge.resource}, #{knowledge.address})

    </insert>


    <select id="getAllFeaturesKnowledges" resultType="com.cqupt.software_10.entity.knowledge.Features">
        select *  from knowledge_features;
    </select>



    <select id="getAllFeaturesENName" resultType="java.lang.String">
        select risk_factors from knowledge_features;
    </select>


    <select id="getExceptionKnowledge" resultType="java.lang.String">

        select exception_explain from knowledge_features
                                 where
                                    disease_name = #{disease}
                                   and  risk_factors = #{field}
                                   and  is_exception = 1
                                   and ((select ${field} from person where id = 2 )  &lt;= exception_low
                                            or
                                        (select ${field} from person where id = 2 )  &gt;= exception_up) ;
    </select>

    <update id="setDoctorRate" parameterType="com.cqupt.software_10.entity.knowledge.Features">
        update `knowledge_features` set doctor_rate=${param1.doctorRate} where id = ${param1.id};
    </update>
</mapper>
